<header class="flex justify-between items-center bg-pink-500 text-white p-4">
    <div class="flex items-center gap-2 text-xl font-bold">
        <img src="./assets/logo.jpg" alt="Logo" class="h-8 w-8 rounded" />
        <span>Youtube Clone</span>
    </div>

    <div class="space-x-2">
        <ng-container *ngIf="!isLogged(); else loggedOut">
            <a routerLink="/auth/register" class="hover:underline text-sm inline-flex items-center gap-1">
                <span>👤</span>S'inscrire
            </a>
            /
            <a routerLink="/auth/login" class="hover:underline text-sm inline-flex items-center gap-1">
                <span>🔐</span>Se connecter
            </a>
        </ng-container>

        <ng-template #loggedOut>
            <button (click)="logout()" class="bg-white text-red-600 px-3 py-1 rounded hover:bg-gray-100">
                Se déconnecter
            </button>
        </ng-template>
    </div>
</header>